html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
*,html{box-sizing: border-box;}

body {
	background-color: #DDDDDD;
	color: #030303;
}

a {
    color: #030303;
    text-decoration: none;
    cursor: pointer;
} 

section {
	font-family: "Oswald", sans-serif;
    font-weight: 400;
	background-color: #DDDDDD; 
}

.container {
    width: 1350px;
    margin: 0 auto;
    padding: 45px 0 0 0;
}

.slide { 
}

.title {
	width: 420px; 
	font-size: 34px;
	line-height: 120%;
	text-transform: uppercase; 
	margin-bottom: 22.5px;
}

.description { 
	width: 420px; 
	font-size: 18px;
	line-height: 140%; 
}

.bold {
	font-weight: 600;
}
.slide__wrapper {
	display: flex; 
}

.slide__left { 
	display: flex;
	justify-content: center; 
}

.slide__right { 
	width: 583px;
	height: 697px;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	margin-left: 22.5px;
}

img.slide__image {
	width: 474px;
	height: 697px;
	display: flex;
	object-fit: cover;
	margin-right: 22.5px;
	border-radius: 15px;
}

.slide__images {
	width: 246px;
	height: 697px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #fff;
	border-radius: 15px;
}

.slide__images img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.slide__info {   
	border: 0.75px solid #030303;
	border-radius: 15px;
	padding: 30px;
	width: 583px;
	height: 438px;
}


.slide__info img { 
	margin-bottom: 30px; 
	width: 138px;
	height: 97px;
}

p.slide__price { 
	font-weight: 400;
	font-size: 30px;
	line-height: 110%; 
	
	margin-top: 61.32px;
}

.slide__data {
	display: flex;
	background: #fff;
	
	border-radius: 15px;
	padding: 30px;
	width: 583px;
	height: 236px;
 
	margin-top: 22.5px;
}


.slide__materials { 
	width: 239px;
	height: 155px;
	margin-right: 45px;
}

.slide__sizes { 
	width: 239px;
	height: 155px; 
}

.slide__materials h2, .slide__sizes h2 {
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	text-transform: uppercase;  
	
	margin-bottom: 22.5px;
}


.slide__materials ul li {
	margin-bottom: 12px;
}

.slide__sizes ul li {
	margin-bottom: 1.5px;
}

.slide__materials h2 {
	margin-left: 25.5px;
}

.slide__materials ul li, .slide__sizes ul li { 
	font-weight: 400;
	font-size: 18px;
	line-height: 140%; 
}



.slide__materials ul li {
	list-style: none; 
}

.slide__materials ul li::before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 18px;
	background-image: url("../images/marker.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 7.5px;
}

.slide__contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 79px;  
}
 


.slide__contacts a {
	font-weight: 600;
	font-size: 28px;
	line-height: 120%; 
	transition: opacity 0.5s ease, transform 0.5s ease;
	margin-right: 242.5px;
}

.slide__contacts a:last-child { 
	margin-right: 0px;
	margin-left: 185.5px;
}
.slide__contacts a:hover {
	opacity: 0.5;
	transform: scale(1.1);
}

a.slide__links {
	font-size: 24px;
	line-height: 120%; 
	font-weight: 400; 
	margin-right: 57px;  
}



.slide2 { 
}

.slide2__top { 
	display: flex;
	margin-bottom: 22.5px;
}

.slide2__bottom {  
	display: flex;
}

img.slide2__image {
	border-radius: 15px;
	width: 853px;
	height: 459px; 
	object-fit: cover;
	margin-right: 22.5px;
}

.slide2__images {
	border-radius: 15px;
	width: 583px;
	height: 215px; 
	display: flex; 
	background: #fff; 
}

.slide2__images img {
	width: 100%;
	height: 100%; 
	object-fit: contain;
}

.slide2__info {  
	border: 0.75px solid #030303;
	border-radius: 15px;
	padding: 30px;
	width: 474px;
	height: 459px;
	margin-right: 22.5px;
}


.slide2__info img {  
	margin-bottom: 30px; 
	width: 138px;
	height: 97px;
}

p.slide2__price { 
	font-weight: 400;
	font-size: 30px;
	line-height: 110%; 
	
	margin-top: 61.32px;
}

.slide2__data { 
	display: flex;
	background: #fff;
	
	border-radius: 15px;
	padding: 30px;
	width: 744px;
	height: 215px;
 
	margin-right: 22.5px;  
}


.slide2__materials {
	width: 243px; 
	margin-right: 75px;
}

.slide2__sizes {  
	width: 230px;
}

.slide2__materials h2, .slide2__sizes h2 { 
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	text-transform: uppercase;
	margin-bottom: 22.5px; 
}


.slide2__materials h2 {
	margin-left: 25.5px;
}

.slide2__materials ul li, .slide2__sizes ul li {
	font-weight: 400;
	font-size: 18px;
	line-height: 140%; 
}

.slide2__materials ul li {
	margin-bottom: 12px;
}

.slide2__sizes ul li {
	margin-bottom: 1.5px;
}



.slid2e__materials ul li {
	list-style: none; 
}

.slide2__materials ul li::before {
	content: '';
	display: inline-block;
	height: 18px;
	width: 18px;
	background-image: url("../images/marker.svg");
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 7.5px;
}
